* {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  box-sizing: border-box; }

p {
  color: #9095a7;
  font-size: 0.95rem;
  line-height: 1.65; }

h1, h2, h3, h4 {
  color: #242d52; }

h2 {
  font-size: 2rem; }

body {
  overflow-x: hidden; }

.container {
  padding: 1rem;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  overflow: hidden; }

.bg-1 {
  position: relative;
  right: 35%; }
  .bg-1 img {
    position: absolute;
    margin-top: -85%;
    transform: scale(0.6);
    z-index: -999; }

.bg-2 {
  position: relative;
  right: 15%; }
  .bg-2 img {
    position: absolute;
    margin-top: -120%;
    transform: scale(0.35);
    z-index: -999; }

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0; }
  .nav-container #menu-icon {
    width: 6%;
    height: 6%;
    object-fit: none; }
  .nav-container .getStarted {
    display: none; }
  .nav-container .logo {
    height: auto;
    width: 35%;
    align-self: center;
    padding-bottom: 0.5rem; }

#close-icon {
  position: absolute;
  padding-right: 1rem;
  right: 0;
  object-fit: none;
  display: none; }

.nav-links {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    padding-top: 6rem;
  top: 0;
  left: 0;
  display: none; }
  .nav-links ul {
    z-index: 2;
    position: relative;
    list-style: none;
    padding: 2.5rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 87%;
    background-color: white;
    border-radius: 5px; }
    .nav-links ul li {
      padding: 0.75rem; }
    .nav-links ul a {
      text-decoration: none;
      color: #242d52;
      font-weight: bolder; }
  .nav-links .mobile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none; }

.nth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.first-container img {
  width: 100%;
  height: auto; }
.first-container h1 {
  font-size: 2.5rem;
  margin: 0; }
.first-container p {
  padding: 0.75rem;
  font-size: 1.05rem; }

.getStarted {
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  box-shadow: 0 7px 12px rgba(187, 47, 12, 0.4);
  font-size: 0.9rem;
  color: white;
  background-color: #f25f3a; }

.second-container {
  margin-top: 5rem; }
  .second-container h2 {
    padding: 0 0.75rem; }
  .second-container .head-p {
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 0 0.75rem;
    text-align: center; }
  .second-container p {
    text-align: justify;
    margin-bottom: 2rem; }
  .second-container .bullet {
    display: flex;
    align-items: center;
    position: relative; }
    .second-container .bullet h3 {
      margin: 0;
      padding-left: 0.5rem;
      text-align: left; }
    .second-container .bullet span {
      color: white;
      background-color: #f25f3a;
      padding: 0.6rem 1.5rem;
      border-radius: 30px; }
    .second-container .bullet .bullet-bg {
      position: absolute;
      height: 100%;
      width: 150%;
      margin-left: 3rem;
      z-index: -1;
      background-color: rgba(242, 95, 58, 0.1); }

.third-container {
  overflow: hidden;
  padding-bottom: 4rem; }
  .third-container h2 {
    margin: 5rem 0; }

.cards-container {
  display: flex;
  width: 100vw;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  box-sizing: content-box;
  padding-top: 2rem;
  scroll-snap-type: x mandatory; }

.card {
  background-color: #fafafa;
  min-width: 98vw;
  margin: 0.5rem;
  scroll-snap-align: start; }

.inner-card {
  transform: translateY(-36px);
  padding: 0 1.5rem; }
  .inner-card img {
    height: 72px;
    width: 72px; }

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1.5rem; }

.card-bullet {
  height: 7px;
  width: 7px;
  border: 1px solid #f25f3a;
  border-radius: 10px;
  margin: 2px; }

.bullet-select {
  background-color: #f25f3a; }

.fourth-container {
  height: 50vh;
  width: 100vw;
  background-color: #f25f3a;
  background-image: url(images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .fourth-container h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center; }
  .fourth-container .getStarted {
    color: #f25f3a;
    font-weight: bolder;
    background-color: white; }

.footerWrap {
  width: 100vw; }

footer {
  min-height: 55vh;
  background-color: #1d1e25;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  footer li {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem; }
  footer span {
    font-size: 0.75rem;
    color: #9095a7;
    margin: 2rem; }

.email {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
  width: 100%; }
  .email input[type="email"] {
    padding: 0.75rem 5rem 0.75rem 1rem;
    border-radius: 30px;
    font-size: 0.75rem;
    text-align: left;
    border-style: none; }
  .email input[type="submit"] {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.75rem;
    font-weight: bolder;
    background-color: #f25f3a;
    border-radius: 30px;
    border-style: none;
    margin-left: 0.75rem; }

.footer-links {
  width: 100%;
  display: flex;
  justify-content: center; }
  .footer-links ul {
    height: 45vw;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: -20%; }
    .footer-links ul li {
      padding: 0.45rem; }

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  padding: 0 1.75rem;
  margin-bottom: 1rem; }
  .social path {
    fill: white; }

.footer-logo {
  margin: 2rem; }

@media (min-width: 960px) {
  .nav-links, .nav-links ul, .nav-links .mobile-overlay {
    all: unset; }

  .container {
    padding: 3rem 10rem; }

  .nav-container {
    padding: 0; }
    .nav-container .logo {
      width: 10%;
      padding: 0; }
    .nav-container .getStarted {
      display: block; }
    .nav-container #menu-icon {
      display: none; }

  .nav-links ul {
    list-style: none;
    display: flex; }
  .nav-links a {
    font-size: 0.95rem; }
  .nav-links a:hover {
    color: #9095a7; }

  .first-container {
    height: 90vh;
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr;
    padding: 5rem 0; }
    .first-container img {
      grid-area: right;
      place-self: center;
      width: 80%; }
    .first-container .block {
      padding-right: 20rem;
      grid-area: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .first-container h1 {
      font-size: 4rem;
      text-align: left; }
    .first-container p {
      text-align: left; }

  .getStarted:hover {
    opacity: 0.7; }

  .bg-1 {
    position: relative; }
    .bg-1 img {
      position: absolute;
      transform: scale(1.1);
      z-index: -999;
      left: 95%;
      margin-top: -15%; }

  .bg-2 {
    position: relative; }
    .bg-2 img {
      position: absolute;
      transform: scale(0.85);
      z-index: -999;
      margin-top: 25%;
      right: 70%; }

  .second-container {
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr;
    align-items: start; }
    .second-container .text {
      grid-area: left;
      display: flex;
      flex-direction: column;
      padding-right: 15rem; }
      .second-container .text p {
        text-align: left;
        padding-right: 12rem; }
      .second-container .text h2 {
        text-align: left;
        font-size: 3rem; }
    .second-container .block {
      grid-area: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3rem; }
    .second-container .bullet-bg {
      display: none; }

  .cards-container {
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem; }

  .card {
    min-width: 100px;
    max-width: 33vw; }

  .slider {
    display: none; }

  .fourth-container {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;
    background-image: url("images/bg-simplify-section-desktop.svg"); }
    .fourth-container h2 {
      width: 25%;
      text-align: left; }

  footer {
    height: 25vh;
    min-height: initial;
    display: grid;
    grid-template: 1fr 1fr/0.75fr 1fr 1fr;
    padding: 0 10rem;
    overflow: hidden; }
    footer span {
      grid-area: 2/3/3/4;
      justify-self: flex-end;
      margin-right: 0; }

  footer a:hover {
    color: #f25f3a; }
    footer a:hover path {
      fill: #f25f3a; }

  .footer-links {
    grid-area: 1/2/3/3;
    height: 100%; }
    .footer-links ul {
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-wrap: wrap; }

  .social {
    justify-content: flex-start;
    padding: 0;
    margin-left: -0.5rem; }
    .social li {
      padding: 0.5rem; }

  .email {
    grid-area: 1/3/2/4;
    justify-content: flex-end; }

  .footer-logo {
    grid-area: 1/1/2/2;
    margin: 0; } }

/*# sourceMappingURL=index.css.map */
